body {
  margin: 0;
  text-align: center;
  color: #0C0;
  background-color: black;
  font-family: monospace;
  background: radial-gradient(closest-side, #444444, #333333, #000000);
  background-attachment: fixed;
}

  /*  -- Header --  */

h1 {
  color: #0C0;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  display: inline-block;
  padding: 0.5rem;
}
h1:hover {
  border: 4px dashed #0C0;
}

.link {
  text-decoration: none;
}

header {
  border-bottom: 5px dashed #0C0;
  height: 140px;
  box-sizing: border-box;
}

  /*  -- No To dos --  */

  .todoContainer {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3rem;
    border: 5px dashed #0C0;
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .noTodo {
    width: 15%;
    height: 300px;
    border: 3px dashed #0C0;
    margin: 20px 0;
    text-align: center;
  }

  .noTodo p {
    margin-top: 10%;
    font-size: 1.5rem;
    font-weight: bold;
  }

    /*  -- To Do Preview --  */

.todoPreview {
  color: #0C0;
  border: 3px dashed #0C0;
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem;
  width: 15%;
  height: 300px;
  overflow: hidden;
}
.previewLink {
  background-color: #0C0;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
}
.previewLink:hover {
  font-size: 2.2rem;
}


    /*  -- New To Do Button --  */

    .newTodo {
      font-family: monospace;
      font-size: 3rem;
      font-weight: bold;
      color: #0C0;
      text-decoration: none;
      border: 2px dashed #0C0;
      padding: 1rem;
    }
    .newTodo:hover {
      border: 4px dashed #0C0;
    }

      /*  -- New To Do Form  --  */

form {
  border: 5px dashed #0C0;
  width: 50%;
  margin: 2rem auto;
}

form h2 {
  font-size: 3rem;
  font-weight: bold;
}

form ul {
  list-style: none;
}

form li {
  font-size: 2rem;
}

input {
  background-color: #0C0;
  font-family: monospace;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  border: none;
  padding: 0.5rem;
  outline: none;
}
input:focus {
  background-color: #0C0;
}

form button {
  background-color: #0C0;
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid black;
  margin: 2rem;
}
form button:hover {
  font-size: 1.7rem;
}

.submit:hover {
  font-size: 2.2rem;
}

  /*  -- To Do View --  */

.todoView {
  font-size: 1.5rem;
  border: 4px dashed #0C0;
  width: 50%;
  margin: 5rem auto;
}

.todoView h2 {
  font-size: 2.5rem;
  text-decoration: underline;
}
